<body class="bg-cover bg-no-repeat bg-center background-image flex flex-col items-center">

    <!-- TODO: move control to hbs partials, move script to separate script file. -->

    <div class="container mx-auto px-4" style="display: block;">
        <div class="w-full text-white flex flex-col pt-12 pb-32">
            <div class="flex flex-row justify-center items-center text-white font-bold" id="about">
                <div class="flex flex-col justify-center items-center">
                    <p class="mt-10 w-3/5 text-center text-2xl font-semibold">
                        Join us in making every day a little greener!
                    </p>
                    <p class="mt-10 w-4/5 text-center text-xl font-semibold">
                        We’re building something cool behind the scenes!

                        This page is under development — the good stuff is on its way! Stay tuned! ;)
                    </p>

                    <p class="mt-10 w-3/5 text-center font-semibold">
                        This project is jointly funded by:
                    </p>
                    <p class="w-3/5 text-center">
                        – <a href="https://www.joachim-herz-stiftung.de/" target="_blank" rel="noopener"
                            class="text-customThree hover:text-customEight underline transition-colors duration-200">Joachim
                            Herz Foundation</a><br>
                        – <a href="https://open-humboldt.de/de/projects/open-humboldt-freiraeume" target="_blank"
                            rel="noopener"
                            class="text-customThree hover:text-customEight underline transition-colors duration-200">Open
                            Humboldt Freiräume</a>, supported by the <a href="https://www.berlin-university-alliance.de/" target="_blank"
                            rel="noopener"
                            class="text-customThree hover:text-customEight underline transition-colors duration-200">Berlin University Alliance</a> within the framework of
                        the German Federal and State Excellence Strategy<br>
                        – <a href="https://www.hu-berlin.de/en" target="_blank" rel="noopener"
                            class="text-customThree hover:text-customEight underline transition-colors duration-200">Humboldt-Universität
                            zu Berlin</a>, through the <a
                            href="https://www.berlin-university-alliance.de/commitments/international/oxford/index.html"
                            target="_blank" rel="noopener"
                            class="text-customThree hover:text-customEight underline transition-colors duration-200">Oxford-Berlin
                            Research Partnership</a>
                    </p>
                    <p class="mt-10 w-3/5 text-center font-semibold">
                        Special thanks to our data partners :
                    </p>
                    <p class="w-3/5 text-center">
                        – <a href="https://www.electricitymaps.com/" target="_blank" rel="noopener"
                            class="text-customThree hover:text-customEight underline transition-colors duration-200">Electricity
                            Maps</a> for global data on Carbon Intensity<br>
                        {{!-- – <a href="https://www.smard.de/en" target="_blank" rel="noopener">German Federal Network
                            Agency (SMARD)</a> for Germany<br>
                        – <a href="https://carbon-intensity.github.io/api-definitions/#carbon-intensity-api-v2-0-0"
                            target="_blank" rel="noopener">National Energy System Operator (NESO)</a> for the UK --}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/js/main2.js"></script>
</body>