<body class="bg-cover bg-no-repeat bg-center background-image flex flex-col items-center">

    <div class=" container mx-auto px-4" style="display: block;">
        <div class="h-full text-white flex items-center flex-col pt-12">
            <div class="flex flex-row justify-center items-center text-white font-bold" id="about">
                <div class="text-center mt-16">
                    <h1 class="text-4xl font-bold mb-4">
                        Smart Home meets smart Climate Action!
                    </h1>
                    <p class="text-lg text-gray-400">
                        Coming here soon: Step-by-step tutorials on using Home Assistant to automate your devices based
                        on predicted carbon intensity.
                        <br class="hidden sm:inline" />
                        Stay tuned! 😉
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/js/main2.js"></script>
</body>