<body class="bg-cover bg-no-repeat bg-center background-image">

    <div class="container mx-auto px-4" id="home">
        <div class="text-white flex items-center flex-col pt-12">

            <div class="container mx-auto px-4">
                <div class="grid grid-cols-1 grid-cols-1  gap-4">

                    <!-- Card 1: Alona Zharova -->
                    <div class="flex flex-row items-start text-left p-4 rounded-lg shadow-md">
                        <div>
                            <h3 class="text-white font-bold tracking-wide text-sm mb-1">
                                Dr. Alona Zharova
                            </h3>
                            <p class="text-gray-300 mb-2 text-xs">Project Lead</p>
                            <p class="text-xs text-gray-300">
                                ✉ <a href="mailto:alona.zharova@hu-berlin.de"
                                    class="text-customThree hover:text-customEight underline transition-colors duration-200">alona.zharova@hu-berlin.de</a><br>
                            </p>
                        </div>
                    </div>


                    <!-- Card 3: Margarita Chikobava -->
                    <div class="flex flex-row items-start text-left p-4 rounded-lg shadow-md">
                        <div>
                            <h3 class="text-white font-bold tracking-wide text-sm mb-1">
                                Margarita Chikobava
                            </h3>
                            <p class="text-gray-300 mb-2 text-xs">Research Engineer</p>
                        </div>
                    </div>

                                        <!-- Card 2: Lennart Ullner -->
                    <div class="flex flex-row items-start text-left p-4 rounded-lg shadow-md">
                        <div>
                            <h3 class="text-white font-bold tracking-wide text-sm mb-1">
                                Lennart Ullner
                            </h3>
                            <p class="text-gray-300 mb-2 text-xs">Researcher</p>
                        </div>
                    </div>

                    <!-- Card 4: Yash -->
                    <div class="flex flex-row items-start text-left p-4 rounded-lg shadow-md">
                        <div>
                            <h3 class="text-white font-bold tracking-wide text-sm mb-1">
                                Yash Chougule
                            </h3>
                            <p class="text-gray-300 mb-2 text-xs">Student Assistant</p>
                        </div>
                    </div>

                    <div class="flex flex-row items-start text-left p-4 rounded-lg shadow-md">
                        <div>
                            <h3 class="text-white font-bold tracking-wide text-sm mb-1">
                                We thank our previous contributors:
                            </h3>
                            <p class="text-gray-300 mb-2 text-xs">Margarita Tavkazakova, Qinwei He, Nike Fischer, Maryia Alchykava</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script type="module" src="/js/main2.js"></script>
</body>