<body class="bg-cover bg-no-repeat bg-center background-image flex flex-col items-center">
    <div class="container mx-auto px-4 py-8">
        <div class="w-full text-white flex justify-center items-center flex-col pt-12 pb-12">
            <h1 class="text-4xl font-bold mb-12 text-customThree text-center">
                How to integrate reduceCO2today.org into Home Assistant
            </h1>
            <p class="text-xl text-gray-200 mb-4 text-center">
                Oops! I am not yet ready! Please give me some more time 🥲
            </p>
            <!-- Steps and images will go here -->
        </div>
    </div>
</body>